@import "color";

// 这里是 NewIDC 专用样式
.newidc {
    &-footer {
        text-align: center;
        #lang {
            position: fixed;
            right: 5px;
            bottom: 0;
            select {
                padding: 5px 10px;
            }
        }
        @media screen and (max-width: 768px) {
            left: 0 !important;
        }
    }
    &-nav-show-button {
        width: 40px;
        height: 40px;
        display: block;
        cursor: pointer;
        .layui-icon {
            color: white;
            line-height: 60px;
            font-size: 24px;
        }
    }
    &-login {
        width: 100%;
        max-width: 400px;
        margin: calc(50vh - 300px) auto 0;
    }
    &-form-invalid {
        border-color: $bold-orange!important;
        &:hover {
            border-color: $bold-orange!important;
        }
    }
    &-form-error {
        font-weight: bold;
        color: $bold-orange!important;
    }
    &-margin-top20 {
        margin-top: 20px;
    }
}

#newidc {
    &-nav {
        @media screen and (max-width: 768px) {
            width: 100%;
            display: none;
            .layui-nav {
                width: 100%;
            }
        }
    }
}

// 下面是对 layui 的样式重写

.layui-container {
    padding: 15px;
}
