@import "color";

.newidc {
    &-index {
        left: 0 !important;
        &-product {
            border: 1px solid $light-grey;
            li {
                padding: 10px;
                text-align: center;
                &:first-of-type {
                    color: white;
                    background-color: $light-cyan;
                }
                &:not(:first-of-type) {
                    border-top: 1px solid $light-grey;
                }
                &:last-of-type {

                }
            }
        }
    }
}
