.newidc-footer {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .newidc-footer {
    left: 0 !important;
  }
}

.newidc-nav-show-button {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

.newidc-nav-show-button .layui-icon {
  color: white;
  line-height: 60px;
  font-size: 24px;
}

.newidc-login {
  width: 100%;
  max-width: 400px;
  margin: calc(50vh - 300px) auto 0;
}

.newidc-form-invalid {
  border-color: #FF5722 !important;
}

.newidc-form-invalid:hover {
  border-color: #FF5722 !important;
}

.newidc-form-error {
  font-weight: bold;
  color: #FF5722 !important;
}

@media screen and (max-width: 768px) {
  #newidc-nav {
    width: 100%;
    display: none;
  }

  #newidc-nav .layui-nav {
    width: 100%;
  }
}

.layui-container {
  padding: 15px;
}

