.newidc-index {
  left: 0 !important;
}

.newidc-index-product {
  border: 1px solid #aaaaaa;
}

.newidc-index-product li {
  padding: 10px;
  text-align: center;
}

.newidc-index-product li:first-of-type {
  color: white;
  background-color: #009688;
}

.newidc-index-product li:not(:first-of-type) {
  border-top: 1px solid #aaaaaa;
}

